node_modules/
site/
public/
eventcatalog/dist/
eventcatalog/domains/
eventcatalog/systems/
eventcatalog/services/
eventcatalog/events/
eventcatalog/commands/
eventcatalog/queries/
eventcatalog/schemas/
eventcatalog/flows/
eventcatalog/.eventcatalog/
eventcatalog/.eventcatalog-core/
